PORT=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_DATABASE=
DB_HOST=
JWT_SECRET_KEY=c4a23196-4cd7-4a9e-a5dd-fe94a6b93c22
ACCESS_TOKEN_LIFE=120s
REFRESH_TOKEN_LIFE=600s
REDIS_PORT=
REDIS_HOST=
EMAIL_PASSWORD=
EMAIL_SEND=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYMENT_SUCCESS_URL=
PAYMENT_FAILED_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_CALLBACK_URL=
DEFAULT_LOGO_USER=
PAYMENT_IMAGES=
PAYMENT_DESCRIPTION=
PAYMENT_TITLE=
ELASTICSEARCH_URL=
RABBITMQ_URL=
GOOGLE_RECAPTCHA_SITE_KEY=6LeVR_4qAAAAALfGw3Ksn4AXvJRLgVyKhQn1hKFZ
GOOGLE_RECAPTCHA_SECRET_KEY=6LeVR_4qAAAAAPLs2jfvT3ntvSkDJSysS4RErJRt
NODE_ENV=
SENTRY_DSN=
INFISICAL_PROJECT_ID=
INFISICAL_CLIENT_ID=
INFISICAL_CLIENT_SECRET=
INFISICAL_SIDE_URL=